* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

.footer-line {
  border-top: 1px solid #ccc;
}

.footer {
  text-align: left;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 50px;
  background-color: rgb(24, 24, 24);
  box-sizing: border-box; 
  z-index: 1000; 
}

.footer-text {
  display: flex;
  justify-content: space-between;
  max-width: 950px; 
  margin: 0 auto; 
}

.footer-phone, .footer-email, .footer-social {
  flex-direction: column;
  align-items: flex-start;
}

.footer-social a {
  display: inline-block;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 10px 25px;
}

h3 {
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}

h4 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

h5 {
  font-size: 20px;
}

.full-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 20px;
  position: relative;
  height: 100%;
}

.text {
  justify-content: center;
  align-items: center;
}

.container .text {
  margin-top: 20vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid black;
  display: flex;
  position: relative;
  margin-top: 15px;
}

.p, .p1, .p2, .p3, .p4, .p5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 10px;
}

.p {
  font-size: 35px;
  color: white;
}

.p1 {
  font-size: 20px;
  color: white;
}

.p2 {
  font-size: 15px;
}

.p3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.p4, .p5 {
  font-size: 18px;
}

ul {
  list-style-type: square;
  height: 30px;
}

ol {
  list-style-type: upper-roman;
  height: 100px;
}

header {
  background-color: rgb(24, 24, 24);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 70px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.custom-button {
  font-size: 25px;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-button:hover {
  color: #858585;
}

.about-button {
  font-size: 25px;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-button:hover {
  color: #858585;
}

.topnav {
  display: flex;
  align-items: center;
}

.topnav a {
  color: #f2f2f2;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}

.content {
  padding-top: 70px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type=submit], input[type=reset] {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit] {
  background-color: rgb(158, 158, 158);
  color: white;
}

input[type=submit]:hover {
  background-color: rgb(102, 102, 102);
}

input[type=reset] {
  background-color: rgb(158, 158, 158);
  color: white;
}

input[type=reset]:hover {
  background-color: rgb(102, 102, 102);
}

.container1 {
  color: black;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.row {
  background-color: white;
  color: black;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.column, .column1 {
  margin: 0 20px;
  padding: 25px;
}

.skillset {
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8d8b8b; 
  color: #fff; 
  border: none;
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  font-size: 28px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  z-index: 999; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

#scrollBtn:hover {
  background-color: #666666; 
}

#scrollBtn span {
  display: block;
  font-size: 24px; 
  margin-top: 5px; 
  line-height: 1; 
  font-weight: bold; 
}

#scrollBtn.visible {
  opacity: 1; 
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 1px;
}

.contact-container .form-group {
  flex: 1;
  margin-right: 10px;
}

.contact-container .form-group:last-child {
  margin-right: 0;
}

.contact-container label {
  display: block;
  margin-bottom: 5px;
}

#about {
  padding-top: 50px;
  position: relative;
}

#resume {
  padding-top: 50px;
  position: relative;
}

#projects {
  padding-top: 50px;
  position: relative;
}

#certifications {
  padding-top: 50px;
  position: relative;
}

#contact {
  padding-top: 50px;
  position: relative;
}

.resume-button {
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px 20px;
  background-color: white;
  color: #333;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.resume-button:hover {
  background-color: #333;
  color: white;
}

@media (max-width: 768px) {
  .resume-button {
      padding: 8px 16px;
      font-size: 16px;
  }
}

.certifications img {
  width: 20%;
  height: 20%;
}