@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}

h3 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 80%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

h4 {
  text-align: center;
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin: 10px 25px;
}

/* =====Home Section====== */
.container {
  border-radius: 20px;
  position: relative;
  height: 100%;
  margin-bottom: 5vh;
}

.text {
  justify-content: center;
  align-items: center;
}

.container .text {
  margin-top: 15vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid black;
  display: flex;
  position: relative;
  margin-top: 15px;
}

.p1 {
  margin-bottom: 15px;
}

.p {
  font-size: 40px;
  color: white;
}

.p1 {
  font-size: 20px;
  color: white;
}

.p2 {
  font-size: 15px;
}

.p3 {
  font-size: 20px;
  font-weight: bold;
}

.p4, .p5 {
  font-size: 16px;
}

ul {
  list-style-type: square;
  height: 30px;
}

ol {
  list-style-type: upper-roman;
  height: 100px;
}

header {
  background-color: rgb(24, 24, 24);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 75px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.custom-button {
  font-size: 25px;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.custom-button:hover {
  color: #858585;
}

.topnav {
  display: flex;
  align-items: center;
}

.topnav a {
  color: #f2f2f2;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}

.content {
  padding-top: 70px;
}

#scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8d8b8b; 
  color: #fff; 
  border: none;
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  font-size: 28px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  z-index: 999; 
  opacity: 0;
  transition: opacity 0.3s ease;
}

#scrollBtn:hover {
  background-color: #666666; 
}

#scrollBtn span {
  display: block;
  font-size: 24px; 
  margin-top: 5px; 
  line-height: 1; 
  font-weight: bold; 
}

#scrollBtn.visible {
  opacity: 1; 
}

/* ====== Contact ====== */
.container1 {
  width: 50rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 1px;
}

.contact-container .form-group {
  flex: 1;
  margin-right: 10px;
}

.contact-container .form-group:last-child {
  margin-right: 0;
}

.contact-container label {
  display: block;
  margin-bottom: 5px;
}

#contact {
  padding-top: 50px;
  position: relative;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type=submit], input[type=reset] {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit] {
  background-color: rgb(116, 116, 116);
  color: white;
  border: 1px solid black;
}

input[type=submit]:hover {
  background-color: rgb(155, 155, 155);
}

input[type=reset] {
  background-color: rgb(116, 116, 116);
  color: white;
  border: 1px solid black;
}

input[type=reset]:hover {
  background-color: rgb(155, 155, 155);
}

/* ====== About ====== */
#about {
  padding-top: 50px;
  position: relative;
}

.about_container {
  background-color: #333;
  max-width: 800px;
  row-gap: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.about_text_container {
  flex: 1;
}

.about_subtitle {
  margin-bottom: var(--mb-2);
}

.about_img img {
  width: 200px;
  border-radius: 0.5rem;
}

.resume-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  color: #333;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  margin-bottom: 20px;
}

.resume-button:hover {
  background-color: #333;
  color: white;
}

@media (max-width: 768px) {
  .resume-button {
      padding: 8px 16px;
      font-size: 16px;
  }
}

/* ======= Skills ======= */
#skills {
  padding-top: 50px;
  position: relative;
}

.skills-section {
  display: flex;
  flex-direction: column;
  margin-right: 10rem; /* Adjusted margin-right for shifting towards the center */
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.skills-container > div {
  flex: 1;
}

.skill-img {
  margin-right: 15%;
}

.skill-img img {
  width: 25vw;
  border-radius: 0.5rem;
}

.skill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bold;
  padding: 10px 10px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
}

.skills-subtitle {
  margin-bottom: 20px;
}

.skills-description {
  margin-bottom: 40px;
}

.skill-icon {
  font-size: 2rem;
  margin-right: 20px;
  color: #ffffff;
}

.skill-name {
  display: flex;
  align-items: center;
}

.skill-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  height: 0.25rem;
  border-radius: 0.5rem;
}

.skill-percentage {
  color: #ffffff;
}

.skill-html {
  width: 65%;
}

.skill-css {
  width: 65%;
}

.skill-sql {
  width: 75%;
}

.skill-tableau {
  width: 80%;
}

.skill-excel {
  width: 90%;
}

/* ===== Projects===== */
#projects {
  padding-top: 50px;
  position: relative;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 60vw;
  max-width: 800px;
}

.project-card.project-image {
  width: 30vw;
  margin-right: 2rem;
  align-items: center;
}

.project-card.project-image img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.project-card.project-details {
  width: 50vw;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.project-details {
  margin: 0 auto;
  width: 40vw;
}

.project-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.project-card:first-child {
  flex-direction: row;
}

.project-card:last-child {
  flex-direction: row-reverse;
}

@media (min-width: 1024px) {
  .project-card {
    width: 80vw;
    max-width: none;
  }
}

/* ====== Certifications ======*/
#certifications {
  padding-top: 50px;
}

.certifications img {
  width: 15vw;
}

/* ======= Footer ======= */
.footer {
  text-align: left;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 50px;
  background-color: rgb(24, 24, 24);
  box-sizing: border-box; 
  z-index: 1000; 
}

.footer-text {
  display: flex;
  justify-content: space-between;
  max-width: 950px; 
  margin: 0 auto; 
}

.footer-phone, .footer-email, .footer-social {
  flex-direction: column;
  align-items: flex-start;
}

.footer-social a {
  display: inline-block;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

.footer-line {
  border-top: 1px solid #ccc;
}

